@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@using CustomForms.Models.AdminMenu 

@{
    ViewData["Title"] = "Admin manage";
}

<body>
    <header class="d-flex align-items-center justify-content-between p-3 border-bottom position-relative">
        <button class="btn btn-light border me-3" id="home-toggle" data-bs-tooltip="tooltip" data-bs-placement="bottom" title="@Localizer["Back"]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
            </svg>
            <i class="bi bi-house"></i>
        </button>

        <div class="flex-grow-1 mx-3">
            <input type="text" id="filter-input-user" class="form-control" placeholder="@Localizer["SearchUser"]">
        </div>

        <button class="btn btn-light border" id="admin-account-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-tooltip="tooltip" data-bs-placement="bottom" title="@Localizer["AdminAcc"]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z" />
            </svg>
            <i class="bi bi-person-badge"></i>
        </button>
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="admin-account-toggle">
                <li><span class="dropdown-item-text fw-bold" id="user-fullname">@ViewBag.Fullname</span></li>
                <li><span class="dropdown-item-text text-muted small" id="user-email">@ViewBag.Email</span></li>
                <li><hr class="dropdown-divider"></li>
                <li><button class="dropdown-item text-danger" id="admin-disauthorize-yourself">@Localizer["DisauthorizeYourself"]</button></li>
            </ul>
        }
        else
        {
            <script>
                document.getElementById("account-toggle").addEventListener("click", function () {
                    window.location.href = "@Url.Action("Login", "Account")";
                });
            </script>
        }
    </header>

    <main class="container py-4 position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table id="usersTable" class="table table-striped user-table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="select-all" /></th>
                                <th scope="col">№</th>
                                <th scope="col">@Localizer["FullName"]</th>
                                <th scope="col">@Localizer["Email"]</th>
                                <th scope="col">@Localizer["Role"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr class="user-row @(user.LockoutEnabled ? "locked" : "")">
                                    <td>
                                        <input type="checkbox" class="user-checkbox" value="@user.Email" />
                                    </td>
                                    <td class="user-number"></td>
                                    <td class="user-name">@user.Name</td>
                                    <td class="user-email">@user.Email</td>
                                    <td class="user-role">@user.Role</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-auto d-flex align-items-start">
                <div class="card shadow-sm sticky-panel">
                    <div class="card-body">
                        <div class="btn-group-vertical">
                            <button class="btn btn-light border" id="block-btn" data-bs-tooltip="tooltip" data-bs-placement="right" title="@Localizer["Block"]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                                </svg>
                                <i class="bi bi-lock"></i>
                            </button>
                            <button class="btn btn-light border" id="unblock-btn" data-bs-tooltip="tooltip" data-bs-placement="right" title="@Localizer["Unblock"]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2M3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z" />
                                </svg>
                                <i class="bi bi-unlock"></i>
                            </button>
                            <button class="btn btn-light border" id="privilege-btn" data-bs-tooltip="tooltip" data-bs-placement="right" title="@Localizer["Privilege"]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-plus" viewBox="0 0 16 16">
                                    <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56" />
                                    <path d="M8 4.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V9a.5.5 0 0 1-1 0V7.5H6a.5.5 0 0 1 0-1h1.5V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                                <i class="bi bi-shield-plus"></i>
                            </button>
                            <button class="btn btn-light border" id="deprivilege-btn" data-bs-tooltip="tooltip" data-bs-placement="right" title="@Localizer["Deprivilege"]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-slash" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.093 3.093c-.465 4.275.885 7.46 2.513 9.589a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.3 11.3 0 0 0 1.733-1.525l-.745-.745a10.3 10.3 0 0 1-1.578 1.392c-.346.244-.652.42-.893.533q-.18.085-.293.118a1 1 0 0 1-.101.025 1 1 0 0 1-.1-.025 2 2 0 0 1-.294-.118 6 6 0 0 1-.893-.533 10.7 10.7 0 0 1-2.287-2.233C3.053 10.228 1.879 7.594 2.06 4.06zM3.98 1.98l-.852-.852A59 59 0 0 1 5.072.559C6.157.266 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.483 3.626-.332 6.491-1.551 8.616l-.77-.77c1.042-1.915 1.72-4.469 1.29-7.702a.48.48 0 0 0-.33-.39c-.65-.213-1.75-.56-2.836-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524a50 50 0 0 0-1.357.39zm9.666 12.374-13-13 .708-.708 13 13z" />
                                </svg>
                                <i class="bi bi-shield-slash"></i>
                            </button>
                            <button class="btn btn-light border" id="delete-btn" data-bs-tooltip="tooltip" data-bs-placement="right" title="@Localizer["Delete"]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                    <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
                                </svg>
                                <i class="bi bi-ban"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

@section Scripts {
    <script src="~/js/manage.js" asp-append-version="true"></script>
}