@using Microsoft.AspNetCore.Mvc.Localization
@using Newtonsoft.Json

@inject IViewLocalizer Localizer

@model CustomForms.Models.Template.TemplateModel

@{
    ViewData["Title"] = "Edit template";
}

<script>
    var model = function () {
        return @Html.Raw(JsonConvert.SerializeObject(Model));
    }();
</script>

<body>
    <header class="d-flex align-items-center justify-content-between p-3 border-bottom position-relative">
        <div>
            <button class="btn btn-light border me-3" id="home-toggle"
            data-bs-tooltip="tooltip" data-bs-placement="bottom" title="@Localizer["Back"]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                </svg>
                <i class="bi bi-house"></i>
            </button>

            <button type="button" class="btn btn-primary" id="btn-create-template" data-bs-toggle="modal" data-bs-target="#createFormModal">
                @Localizer["EditForm"]
            </button>
        </div>

        <div class="d-flex align-items-center">
            <button class="btn btn-light border" id="palette-toggle"
            data-bs-tooltip="tooltip" data-bs-placement="bottom" title="@Localizer["Palette"]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette" viewBox="0 0 16 16">
                    <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                    <path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8m-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7" />
                </svg>
                <i class="bi bi-palette"></i>
            </button>

            <button class="btn btn-light border" id="preview-toggle"
            data-bs-tooltip="tooltip" data-bs-placement="bottom" title="@Localizer["Preview"]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                </svg>
                <i class="bi bi-eye"></i>
            </button>
        </div>

        <div class="nav-container">
            <ul class="nav nav-tabs justify-content-center" id="tab-menu">
                <li class="nav-item">
                    <a class="nav-link" id="questions-tab" href="">@Localizer["Question"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="responses-tab" href="#responses">@Localizer["Response"]</a>
                </li>
            </ul>
        </div>
    </header>

    <main class="container py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm mb-3">
                    <form asp-action="Edit" asp-controller="Template" method="post" id="create-template-form" class="card-body">
                        <h2 contenteditable="true" class="form-control-plaintext fs-4" id="template-title">@Model.Title</h2>
                        <input type="hidden" name="Title" id="hidden-template-title" />

                        <p contenteditable="true" class="form-control-plaintext text-muted" id="template-description">@Model.Description</p>
                        <input type="hidden" name="Description" id="hidden-template-description" />

                        <p contenteditable="true" class="form-control-plaintext text-muted" id="template-tag">@Model.Tag</p>
                        <input type="hidden" name="Tag" id="hidden-template-tag" />

                        <select class="form-select w-25" name="TopicId" id="topicDropdown">
                            @foreach (var topic in Model.Topics)
                            {
                                <option value="@topic.Id" selected="@(topic.Id == Model.TopicId)">
                                    @topic.Name
                                </option>
                            }
                        </select>
                    </form>
                </div>
                <div id="questions-container" class="list-group"></div>
            </div>

            <div class="col-md-auto">
                <div class="card shadow-sm sticky-panel">
                    <div class="card-body">
                        <div class="btn-group-vertical">
                            <button class="btn btn-light border" id="add-quest-form" onclick="addQuestion()"
                                    data-bs-tooltip="tooltip" data-bs-placement="right" title="@Localizer["AddQuestion"]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                </svg>
                                <i class="bi bi-plus-circle"></i>
                            </button>
                            <button class="btn btn-light border" id="clean-template-toggle"
                                    data-bs-tooltip="tooltip" data-bs-placement="right" title="@Localizer["CleanTemplate"]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="createFormModal" tabindex="-1" aria-labelledby="createFormModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createFormModalLabel">@Localizer["EditForm"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="publicAccess">
                        <label class="form-check-label" for="publicAccess">@Localizer["PublicAccess"]</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirm-create">@Localizer["Confirm"]</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const localizedStrings = {
            writeQuestion: "@Localizer["WriteQuestion"]",
            checkbox: "@Localizer["Checkbox"]",
            singleline: "@Localizer["Singleline"]",
            multiLine: "@Localizer["MultiLine"]",
            integer: "@Localizer["Integer"]",
            option: "@Localizer["Option"]",
            addOption: "@Localizer["AddOption"]",
            removeQuestion: "@Localizer["RemoveQuestion"]",
            placeholderInteger: "@Localizer["PlaceholderInteger"]",
            placeholderMultiline: "@Localizer["PlaceholderMultiline"]",
            placeholderSingleline: "@Localizer["PlaceholderSingleline"]"
        };
    </script>
</body>

@section Scripts {
    <script src="~/js/create.js" asp-append-version="true"></script>
    <script src="~/js/edit.js" asp-append-version="true"></script>
}