@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CustomForms.Models.Account.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<body>
    <div class="account-container">
        <div class="account-box">
            <h2 class="text-center mb-4">@Localizer["HeadLogin"]</h2>
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">@Localizer["Email"]</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">@Localizer["Password"]</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <label asp-for="RememberMe" class="form-label">@Localizer["RememberMe"]</label>
                        <input asp-for="RememberMe" class="form-check-input" />
                    </label>
                </div>
                <input type="submit" value="@Localizer["Signin"]" class="btn btn-success w-100 p-2" />
                <div class="text-center text-decoration-none mt-3">@Localizer["ExternalLogin"]</div>
                <div class="d-flex flex-column align-items-center gap-2 mt-2">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="button" class="btn btn-primary external-login-btn"
                                data-provider="@provider.Name"
                                data-url="@Url.Action("ExternalAddLogin", "Account", new { provider = provider.Name, returnUrl = Model.ReturnUrl })">
                            @provider.DisplayName
                        </button>
                    }
                </div>
                <p class="text-center mt-2">
                    @Localizer["TextLogin"] <a asp-controller="Account" asp-action="Register" class="text-decoration-none">@Localizer["Signup"]</a>
                </p>
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">@Localizer["HomeBack"]</a>
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    <script src="~/js/login.js" asp-append-version="true"></script>
}
